* {
    box-sizing: border-box;
    border: 1px solid red;
    font-family: Franklin Gothic Medium;
    margin: 0;
    padding: 0;
    color: black;
}

header,
main,
footer {
    padding: 16px;
}

header {
background-color: green;
position: fixed;
left: 0;
right: 0;
}

ul {
    position: relative;
    left: 1000px;
}

main {
min-height: 80vh;
padding-top: 
}

img {

}
footer {

}

